In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df=pd.read_csv("/content/bill_authentication.csv")

In [7]:
df.head(10)

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661  -2.80730 -0.44699      0
1   4.54590    8.1674  -2.45860 -1.46210      0
2   3.86600   -2.6383   1.92420  0.10645      0
3   3.45660    9.5228  -4.01120 -3.59440      0
4   0.32924   -4.4552   4.57180 -0.98880      0
5   4.36840    9.6718  -3.96060 -3.16250      0
6   3.59120    3.0129   0.72888  0.56421      0
7   2.09220   -6.8100   8.46360 -0.60216      0
8   3.20320    5.7588  -0.75345 -0.61251      0
9   1.53560    9.1772  -2.27180 -0.73535      0

In [8]:
df.tail(10)

      Variance  Skewness   Curtosis  Entropy  Class
1362  -2.16680   1.59330   0.045122 -1.67800      1
1363  -1.16670  -1.42370   2.924100  0.66119      1
1364  -2.83910  -6.63000  10.484900 -0.42113      1
1365  -4.50460  -5.81260  10.886700 -0.52846      1
1366  -2.41000   3.74330  -0.402150 -1.29530      1
1367   0.40614   1.34920  -1.450100 -0.55949      1
1368  -1.38870  -4.87730   6.477400  0.34179      1
1369  -3.75030 -13.45860  17.593200 -2.77710      1
1370  -3.56370  -8.38270  12.393000 -1.28230      1
1371  -2.54190  -0.65804   2.684200  1.19520      1

In [9]:
df.count()

Variance    1372
Skewness    1372
Curtosis    1372
Entropy     1372
Class       1372
dtype: int64

In [10]:
df['Class'].value_counts()

0    762
1    610
Name: Class, dtype: int64

In [11]:
df.shape

(1372, 5)

In [12]:
X = df.drop('Class', axis=1)
y = df['Class']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10)

In [14]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [15]:
y_pred = svclassifier.predict(X_test)

In [16]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[78  2]
 [ 0 58]]
              precision    recall  f1-score   support

           0       1.00      0.97      0.99        80
           1       0.97      1.00      0.98        58

    accuracy                           0.99       138
   macro avg       0.98      0.99      0.99       138
weighted avg       0.99      0.99      0.99       138